<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings file="private.config">
    <add key="SlackUri" value="override-in-private-config" />
    <add key="DebugChannel" value="override-in-private-config" />
    <add key="ServiceBusReadConnectionString" value="override-in-private-config" />
    <add key="UseServiceBus" value="true" />
  </appSettings>  
</configuration>