source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget FSharp.Data
nuget NUnit 
nuget NUnit.Runners
nuget FAKE
nuget SourceLink.Fake
nuget NLog
nuget Newtonsoft.Json
nuget FsWebAddRegistryEntries
nuget Microsoft.AspNet.WebApi.Client
nuget Microsoft.AspNet.WebApi.Core
nuget Microsoft.AspNet.WebApi.Owin
nuget Microsoft.Owin
nuget Microsoft.Owin.Host.SystemWeb
nuget MSBuild.Extension.Pack
nuget Owin

github fsharp/FAKE modules/Octokit/Octokit.fsx
