source https://nuget.org/api/v2

nuget FAKE
nuget FSharp.Data
nuget FSharp.Formatting
nuget FsWebAddRegistryEntries
nuget Microsoft.AspNet.WebApi.Client
nuget Microsoft.AspNet.WebApi.Core
nuget Microsoft.AspNet.WebApi.Owin
nuget Microsoft.Owin
nuget Microsoft.Owin.Host.SystemWeb
nuget MSBuild.Extension.Pack
nuget Newtonsoft.Json
nuget NLog
nuget NUnit 
nuget NUnit.Runners
nuget Owin
nuget SourceLink.Fake
nuget WindowsAzure.ServiceBus

github fsharp/FAKE modules/Octokit/Octokit.fsx
